.search-bar {
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   width: 100%;

   grid-area: form;
   @media screen and (min-width: '1440px') {
      order: 1;
   }

   input {
      display: block;
      background-color: var(--main-white);
      border-radius: 20px;
      padding: 15px 10px 15px 20px;
      outline: none;
      border: 2px solid var(--main-white);

      transition: border var(--transition);
      flex: 1;

      &:hover {
         border: 2px solid var(--primary-light);
      }

      &:focus {
         border: 2px solid var(--primary);
      }

      &::placeholder {
         font-size: 20px;
         line-height: calc(30 / 20);
         transition: color var(--transition);
      }

      &:hover::placeholder {
         color: transparent;
      }
      &:focus::placeholder {
         color: var(--main-black);
      }
   }

  .submit {
      display: block;
      margin-left: 10px;
      background-color: var(--main-white);
      width: 40px;
      height: 40px;
      border-radius: 10px;

      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      display: flex;
      justify-content: center;
      align-items: center;

      transition: background-color var(--transition);

      @media screen and (min-width: '768px') {
         max-width: 40px !important;
      }
      svg {
         fill: var(--primary);
         transition:  fill var(--transition);
      }

      &:hover {
         background-color: var(--primary);
      }
      &:hover svg {
         fill: var(--main-white);
      }
   }
}
