.main-button {
   .thumb {
      width: 134px;
      height: 194px;
      border: 4px solid rgba(255, 255, 255, 0.6);
      border-radius: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: border var(--transition);
   }
   .thumb.voting {
      background-color: #b4b7ff;
   }
   .thumb.breeds {
      background-color: #97eab9;
   }
   .thumb.gallery {
      background-color: #ffd280;
   }

   span {
      font-size: 12px;
      font-weight: 500;
      line-height: calc(16 / 12);
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;

      display: block;
      margin-top: 10px;

      background-color: var(--main-white);
      color: var(--primary);
      padding: 10px;
      border-radius: 10px;

      transition: background-color var(--transition),  color var(--transition);
   }

   &:hover .thumb {
      border: 4px solid var(--main-white);
   }

   &:hover span {
    background-color: var(--primary-light);
}
}

.main-button.active span {
   background-color: var(--primary);
   color: var(--main-white);
}
