.pet-info {
   &__block {
      position: relative;
      border: 2px solid var(--primary-light);
      border-radius: 20px;
      padding: 26px 60px 40px 60px;
      margin-top: 51px;

      h1 {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 36px;
         font-weight: 500;
         line-height: calc(52 / 36);
         text-align: center;

         border-radius: 20px;
         background-color: var(--main-white);
         padding: 5px 40px;
         color: var(--black-text);

         white-space: nowrap;
      }

      & > p {
         font-size: 20px;
         font-weight: 500;
         line-height: calc(29 / 20);
         text-align: center;
         color: var(--gray-text);
      }
   }

   &__text-block {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;

      @media screen and (min-width: '1440px') {
         flex-direction: row;
      }

      &.left,
      &.right {
         flex: 1;
         font-size: 16px;
         font-weight: 500;
         line-height: calc(23 / 16);

         @media screen and (min-width: '1440px') {
            flex-direction: column;
            justify-content: unset;
         }

         span {
            font-weight: 400;
            color: var(--gray-text);
         }
      }
   }
}
