.voting {
   .page__body {
      .thumb {
         margin: 0 auto;
         margin-top: 20px;
         border-radius: 20px;
         overflow: hidden;
         max-width: 640px;
         height: 360px;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }
      }

      .wrapper {
         position: relative;
      }
   }

   
}
