.button {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   outline: none;
   border: none;
   border-radius: 10px;

   background-color: var(--primary-light);

   cursor: pointer;
   transition: background-color var(--transition);

   svg {
      transition: fill var(--transition);
   }

   // &:hover {
   //    background-color: var(--primary);
   // }

   &:hover svg {
      fill: var(--main-white);
   }
}

.button.mint {
   background-color: var(--mint);
   svg {
      fill: var(--main-white);
   }

   &:hover {
      background-color: rgba(151, 234, 185, 0.3);
   }
   &:hover svg {
      fill: var(--mint);
   }
}
.button.pink {
   background-color: var(--primary);
   svg {
      fill: var(--main-white);
   }

   &:hover {
      background-color: rgba(255, 134, 142, 0.3);
   }
   &:hover svg {
      fill: var(--primary);
   }
}
.button.orange {
   background-color: var(--orange);
   svg {
      fill: var(--main-white);
   }

   &:hover {
      background-color: rgba(255, 210, 128, 0.3);
   }
   &:hover svg {
      fill: var(--orange);
   }
}
.button.submit {
   margin-left: 10px;
   background-color: var(--main-white);

   svg {
      fill: var(--primary);
   }

   &:hover {
      background-color: var(--primary);
   }
   &:hover svg {
      fill: var(--main-white);
   }
}
