.like-links {
   display: inline-flex;
   justify-content: center;
   gap: 10px;

   @media screen and (min-width: '767px') {
      margin-left: auto;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background-color: var(--main-white);

      width: 60px;
      height: 60px;

      transition: background-color var(--transition);

      &:hover {
         background-color: var(--primary-light);
      }
   }

   &__item.active {
      background-color: var(--primary);

      svg {
         fill: var(--main-white);
      }
   }
}

.page-header-wrapper {
   justify-self: flex-end;

   display: flex;
   justify-content: space-between;

   @media screen and (min-width: '1440px') {
      order: 1;
   }
}
