.filter-form {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: rgba(248, 248, 247, 1);
   border-radius: 20px;

   position: relative;
   z-index: 2;

   &__top,
   &__bottom {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;

      @media screen and (min-width: 767px) {
         flex-direction: row;
      }
   }
   &__bottom {
      margin-top: 10px;

      @media screen and (min-width: 767px) {
         margin-top: unset;
      }
   }

   &__item {
      width: 100%;
      &:nth-child(2) {
         // margin-left: 20px;
      }
   }

   &__bottom {
      align-items: flex-end;
   }
   &__label {
      font-size: 10px;
      font-weight: 500;
      line-height: calc(18 / 10);
      text-align: left;
      text-transform: uppercase;
      color: rgba(140, 140, 140, 1);
   }
}
